*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body{
    background: linear-gradient(235.96deg, #0C0F30 4.89%, #0B0D23 98.36%);
}

.wrapper{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    color: white;
}

.header{
    grid-column-start: 1;
    grid-column-end:  3;
    padding: 20px;
}


.footer{
    grid-column-start: 1;
    grid-column-end:  3;
    padding: 20px;
}

#input-pane{
    margin-right: 40px;
    margin-top: 150px;
    width: 430px;
    height: 600px;
    background: linear-gradient(214.63deg, rgba(58, 6, 125, 0.4) 10.07%, rgba(42, 8, 102, 0.4) 89.85%);
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

#input-pane.reduce-height{
    -webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
    transition: height 1s;
    height: 300px;
}

#input-pane.increase-height{
    -webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
    transition: height 1s;
    height: 600px;
}

.default-height{
    height: 600px;
}

#ftx-sign{
    padding-top: 30px;
    padding-bottom: 25px;
}

.welcome-msg{
    background: rgba(0, 0, 0, 0.13);
    border-radius: 2px;
    border-left: 4px solid #3A127B;
    width: 320px;
    height: 108px;
    padding-left: 24px;
    padding-top: 12px;
    line-height: 130%;
    font-style: normal;
    font-weight: normal;
}

.welcome-body{
    color: rgba(146, 130, 253, 0.7);
}

.welcome-highlight{
    color: #9282FD;
}

.welcome-sidebar{
    position: absolute;
    margin-left: -24px;
    margin-top: -10px;
}

#input-pane>div{
    margin-left:40px;
}

#separator-line{
    padding-top: 30px;
}

#ui-name,#ui-tags{
    padding-top: 30px;
}

#lblName{
    color: #D1CED9;
}

#txtName{
    width: 300px;
    height: 40px;
    margin-top: 15px;
    margin-left: 12px;

    background: #0B0E35;
    color: white;
    font-size: 14px;
    border: 0px;
    border-bottom: 1px solid #53179A;
    padding-left: 12px;
    border-radius: 1px;
}

#txtName:hover{
    background: #050940;
}

#txtName:focus{
    background: #050940;
    border-bottom: 1px solid #9C20FF;
    outline: none;
    transition: all 0.1s ease-out;
}

#lblTags{
    color: #D1CED9;
    display:block;
    margin-bottom: 15px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.row-tag{
    margin-bottom: 24px;
}

#btn-connect{
    -webkit-appearance: none;
    font-size: 16px;
    color: white;
    width: 120px;
    height: 35px;
    background-color: #491997;
    border: 0;
    margin-top: 20px;
    border-radius: 1px;
    cursor: pointer;
}

#btn-connect:hover:not(:disabled){
    background-color: #42148C;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}

#btn-connect:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

/* more changes are made in autocomplete css */

.easy-autocomplete-container{
    /* padding-left: 12px; */
    width: 300px!important;
    padding-top:2px;
}

.eac-item img{
    margin-bottom: -10px;
    margin-top: 6px;
}

.eac-item{
    color: #85869A;
    margin-bottom: 10px;
}

.eac-item b{
    color: white;
}

.lbl-connect{
    font-size: 16px;
}

#loading-cta{
    margin-top: 40px;
    width: 180px;
    height: 50px;
    background-color: #240E55;
    border-radius: 1px;
    cursor: progress;
    padding-top: 15px;
    padding-left: 12px;
}

#loading-msg{
    height: 80px;
}

#paired-msg{
    height: 90px;
}

#paired-list{
    padding-top: 30px;
    padding-left: 20px;
}

.pair-img{
    width:50px;
    border-radius: 50%;
    border: 2px solid #BA2E60;
    margin-right: 12px;
    float: left;
}

.pair-name{
    font-size: 18px;
    margin-right: 16px;
}

.pair-reason{
    font-size: 12px;
    background: #BA2E60;
    border-radius: 1px;
    padding: 4px;
}

.pair-role{
    display: inline-block;
    font-size: 14px;
    opacity: 0.5;
    margin-top: 10px;
    margin-bottom: 30px;
}

#btn-restart{
    -webkit-appearance: none;
    font-size: 16px;
    color: white;
    width: 120px;
    height: 35px;
    background-color: #491997;
    border: 0;
    margin-top: 20px;
    border-radius: 1px;
    cursor: pointer;
}

#btn-restart:hover:not(:disabled){
    background-color: #42148C;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}

#btn-restart:disabled{
    opacity: 0.5;
}



[data-tooltip] {
	position: relative;
	z-index: 3;
	cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
	position: absolute;
	top: 23px;
	left: 210px;
	margin-bottom: 5px;
	margin-left: -80px;
	padding: 7px;
	width: 130px;
	border-radius: 2px;
    background-color: rgb(25, 5, 63);
    border: 1px solid rgba(67, 15, 130);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	color: #fff;
	content: attr(data-tooltip);
	text-align: left;
	font-size: 12px;
	line-height: 1.2;
}

/* Triangle */
[data-tooltip]:after {
	position: absolute;
	top: 35px;
	left: 130px;
	margin-left: -10px;
    width: 0;
	border-right: 10px solid rgba(67, 15, 130);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content: "";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	visibility: visible;
	opacity: 1;
}


#ftx-about{
    float: right;
    margin-left: 50px;
    padding-right: 15px;
}

#about-icon:hover{
    opacity: 0.6;
    cursor: pointer;
}

.about-modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(4, 4, 16, 0.7);
  }

  .modal-content{
    margin: 15% auto; /* 15% from the top and centered */
    padding: 40px;

    width: 424px;
    height: 420px;
    background: #0D0D0D;
    border: 2px solid #6536E2;
    box-sizing: border-box;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }

  #ftx-about-close{
      float: right;
      margin-right: -65px;
      margin-top: -60px;
  }

  #ftx-about-close:hover{
    cursor: pointer;
  }

  .about-header{
    font-weight: 700;
    font-size: 16px;
    color: white;
  }

  .about-header span{
      padding-bottom: 30px;
  }

  #about-title{
    vertical-align: middle;
  }

  .about-body{
    width: 336px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 130%;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .about-footer{
    font-size: 14px;
    color: rgba(236, 41, 109, 0.6);
  }

  #makers-name{
    text-decoration-line: underline;
    color: rgba(255, 55, 187, 0.6);
  }

  .tweet{
    color: #FFFFFF;
  }

  .hashtag{
    color: #9E24FF;
  }


  