	body {
	    font-family: 'PT Serif', serif;
/*
	    font-size: 12px;
	    font-weight: 400;
	    color: #525252;
	    text-align: center;
*/
	}
	.axis path,
	.axis line {
	    fill: none;
	    stroke: #B3B3B3;
	    shape-rendering: crispEdges;
	}
	.axis text {
	    font-size: 10px;
        font-family: 'Work Sans', sans-serif;
	    fill: #6B6B6B;
	}
	.countries {
	    pointer-events: none;
	}
	.guide {
	    pointer-events: none;
	    font-size: 14px;
	    font-weight: 600;
	}
	.popover {
	    pointer-events: none;
	}
	.legendCircle {
	    stroke-width: 1;
	    stroke: #999;
	    stroke-dasharray: 2 2;
	    fill: none;
	}
	.legendLine {
	    stroke-width: 1;
	    stroke: #D1D1D1;
	    shape-rendering: crispEdges;
	}
	.legendTitle {
	    fill: #1A1A1A;
	    color: #1A1A1A;
	    text-anchor: middle;
	    font-size: 10px;
	}
	.legendText {
	    fill: #949494;
	    text-anchor: start;
	    font-size: 9px;
	}
	.voronoi--show path {
	    stroke: #242424";

	}
	#slidecontainer {
        position: absolute;
	    width: 1365px;
        margin-top: -40px;
	}
	.slider {
	    -webkit-appearance: none;
	    appearance: none;
	    width: 100%;
	    height: 0px;
	    outline: none;
	    opacity: 1;
	    -webkit-transition: .2s;
	    transition: opacity .2s;
	}
	.slider:hover {
	    opacity: 1;
	}
	.slider::-webkit-slider-thumb {
	    -webkit-appearance: none;
	    appearance: none;
	    width: 26px;
	    height: 90px;
	    background: #D4D2D4;
	    cursor: pointer;
        opacity:0.3;
        border: 1px #242424 solid;
	}
	.slider::-moz-range-thumb {
	    width: 25px;
	    height: 25px;
	    background: #4CAF50;
	    cursor: pointer;
	}
	rect {
	    shape-rendering: crispEdges;
	}
	text {
	    font-size: 10px;
	}
	.link {
	    fill: none;
	}

#year-label{
    font-size: 80px;
    text-align: left;
    color: #D4D2D4;
}

.highlight-Afghan{
    background-color: #E01A25;
    color: white;
}

.highlight-Syria{
    background-color: #E58903;
    color: white;
}

.highlight-Iraq{
    background-color: #991C71;
    color: white;
}


.highlight-Congo{
    background-color: #C20049;
    color: white;
}


.highlight-Rwanda{
    background-color: #EFB605;
    color: white;
}


.highlight-Ethiopia{
    background-color: #10A66E;
    color: white;
}


.highlight-Somalia{
    background-color: #AAA9AA;
    color: white;
}


.highlight-Sudan{
    background-color: #5CEAEA;
    color: white;
}


.highlight-Vietnam{
    background-color: #66489F;
    color: white;
}


.highlight-Myanmmar{
    background-color: #7EB852;
    color: white;
}


.highlight-Burundi{
    background-color: #2074A0;
    color: white;
}

.disclaimer{
    font-size: 10px;
    color: #D4D2D4;
}

#flow-area-chart{
    background-color: #F9F9F9;
}

.xaxis path,
.xaxis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}
.xaxis text {
    font-size: 10px;
    fill: #333333;
    opacity: 0.3;
}

.flow-sankey-text{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title{
    font-family: 'PT Serif', serif;
    font-weight: bold;
}

.speed-slider{
    display: inline-block;
}

.slider-speed {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 10rem;
  height: 0.25rem;
  outline: none;
  border-radius: 0.25rem;
}

.slider-speed::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333333;
  border: 0.25rem solid #D4D2D4;
  border-radius: 1rem;
  cursor: pointer;
}

.y.title{
    fill: #949494;
    font-family: "Helvetica Neue",sans-serif;
    font-size: 12px;
    font-weight: normal;
}

@font-face {
  font-family: spark-bar-thin;
  src: url(../fonts/spark/spark-bar-thin.woff);
}

@font-face {
  font-family: spark-bar-narrow;
  src: url(../fonts/spark/spark-bar-narrow.woff);
}

@font-face {
  font-family: spark-bar-medium;
  src: url(../fonts/spark/spark-bar-medium.woff);
}

@font-face {
  font-family: spark-dot-small;
  src: url(../fonts/spark/spark-dot-small.woff);
}

@font-face {
  font-family: spark-dot-medium;
  src: url(../fonts/spark/spark-dot-medium.woff);
}

@font-face {
  font-family: spark-dotline-medium;
  src: url(../fonts/spark/spark-dotline-medium.woff);
}


span.thinbar {
    font-family: spark-bar-thin;
    font-size: 24px;
    color: orange;
}

span.narrowbar {
    font-family: spark-bar-narrow;
    font-size: 24px;
    color: blue;
}

span.mediumbar {
    font-family: spark-bar-medium;
    font-size: 24px;
    color: green;
}

span.smalldot {
    font-family: spark-dot-small;
    font-size: 24px;
    color: red;
}

span.mediumdot {
    font-family: spark-dot-medium;
    font-size: 24px;
    color: yellow;
}

span.dotline {
    font-family: spark-dotline-medium;
    font-size: 12px;
    color: violet;
}

.wartooltip-title{
    font-size: 14px;
    font-weight: bold;
}

.wartooltip-desc{
    font-size: 12px;
    color: #9B9B9B;
}

.wartooltip-flags{
    font-size: 14px;
    color: #9B9B9B;
}

.graph-fixed{
/*
    position: fixed;
    top: 0;
*/
}

.graph-not-fixed{
    opacity: 0;
}

.t2axis path,
.t2axis line{
    fill: none;
    stroke: #E9EBEB;
    shape-rendering: crispEdges;
}

.t2axis text{
    fill: #242424;
    font-family: 'Work Sans', sans-serif;
}

.gaxis path,
.gaxis line {
    fill: none;
    stroke: #E9EBEB;
    shape-rendering: crispEdges;
}
.gaxis text {
    fill: #6B6B6B;
    font-family: 'Work Sans', sans-serif;
}

.hidden-controls{
    display:none;
}

.t2text{
    font-family: 'Work Sans', sans-serif;
    font-size: 11px;
}