body{
    background-color: #05151E;
    font-family: 'Open Sans', sans-serif;
}

input{
    color: white;
}

#installation-section{
    margin-top:2%;
}

.intro{
    font-family: 'Montserrat', sans-serif;
    margin-top:10%;
    color: #2E398E;
    opacity: 0.75;
}

label{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #C4167C !important;
    font-size: 12px !important;
}

.pink{
    background-color: #C4167C !important;
}

#input-form{
    margin-top: 20%;
    color: #C4167C !important;
    /* display: none; */
}

.input-header{
    font-family: 'Montserrat', sans-serif;
    color: #2642BE;
    font-size: 20px;
    font-weight: 900;
}

.links line {
    stroke: #999;
    stroke-opacity: 0.4;
}

.nodes circle {
    /* fill: black!important; */
}

text{  
    font-family: sans-serif;
    text-anchor:middle;
    font-size:8px;  
}

.nodelabel{
    fill: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    opacity: 0.5;
}


.easy-autocomplete{
    all: initial!important;
}

.search-pane{
    position: absolute;
    top: 10px;
    background-color: rgb(8, 28, 41, 0.75);
}

input[type=text]{
    border-bottom: 1px solid #9B1568!important;
}

input.valid[type=text]{
    border-bottom: 1px solid #C4167C !important;
    -webkit-box-shadow: 0 1px 0 0 #C4167C !important;
    box-shadow: 0 1px 0 0 #C4167C !important;
}

#btnAddUser{
    background-image: linear-gradient(250deg, #2cffd1, #0679c3)!important;
}

#list-view{
    margin-top: 40%;
    color: white;
    font-size: 14px;
}

.list-header, #have-header, #need-header, #check-back{
    font-family: 'Montserrat', sans-serif;
    color: #2E398E;
}

#check-back{
    margin-bottom: 20%;
}

.list-header{
    color: #C21F7C;
    font-size: 20px;
    margin-bottom: 8%;
}

.user-in-list{
    color: #ECB82A;
}

.skill-in-list{
    color: #C6167D;
}

#legend-section{
    margin-top: -10%;
    margin-bottom: 20%;
}

#legend{
    width: 130%;
}

.easy-autocomplete-container {
    width: 90% !important;
    margin-left: 5% !important;
    margin-top: -2% !important;
    opacity: 0.75;
}

#txtSearchUser{
    margin-top: -5%;
    color: white;
}

#lblSearchUser{
    color: white!important;
}

.autocomplete-content{
    opacity: 0.65!important;
}

.autocomplete-content li span{
    color: rgb(151, 150, 150) !important;
}

.autocomplete-content li span .highlight{
    color: #C6167D !important;
}