/* html, body {
    width: 100%;
    height: 100%;
	padding: 0px;
	margin: 0px;
}
#map { 
  position:relative; 
  width: 100%;
  height: 100%;
  margin: auto auto;
} */

body { 
    margin:0;
    position:fixed;
    top:0;right:0;bottom:0;left:0;
    background-color: #0E1032; 
}

    
svg { 
    width:100%; 
    height: 100% 
}



.line {
    fill: none;
    stroke: darkslategrey;
    stroke-width: 1.5px;
  }
      .area {
        fill: orange;
        opacity: 0.75;
      }
  .axis--x .tick line {
    stroke: gainsboro;
  }