body{
  font-family: 'Rubik', sans-serif;
  color: #333333;
  font-size: 16px;
  line-height: 24px;
}

.intro{
  background-color: rgb(255,255,255,0.5);
  margin-top: 300px;
  width: 500px;
  margin-left: 500px;
}

.title{
  font-family: 'Righteous', cursive;
  font-size: 50px;
  line-height: 62px;
  color: #000000;
}

.subtitle{
  margin-top: 15px;
}

.authors{
  margin-top: 15px;
  font-size: 14px;
}

.blue-rect{
  background-color: #157FFB;
  color: #157FFB;
  max-width: 4px;
  margin-right: 5px;
}

.gray-circle{
  display:inline-block;
  background-color: #858585;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.note{
  background-color: rgb(255,255,255,0.5);
  margin-top: 800px;
  width: 500px;
  margin-left: 500px;
}

.fixed{
  position: fixed;
  top: 10px;
  z-index: -999;
}

.land {
  fill: #ddd;
}

.state-borders {
  fill: none;
  stroke: #fff;
}

.hospital-arc {
  fill: none;
}

.hospital .hospital-arc {
  stroke: #f00;
  stroke-opacity: 0.1;
}

.hospital-cell {
  fill: none;
  /* stroke: #000; */
  stroke-opacity: 0.1;
  pointer-events: all;
}



/* gooey shit */
/* body { margin:0;
  position:fixed;
  top:0;right:0;bottom:0;left:0; } */
    
    .big-circle {
      fill: none;
    }
    
    text {
      fill: white;
      font-family: sans-serif;
      font-family: 'Rubik', sans-serif;
    }
    

table{
  border-collapse: collapse;
  font-size: 14px;
  border-spacing: 2px;
  width: 100%;
}

table th{
  font-weight: 900;
  background-color: #f7f7f7;
  padding-left: 8px;
}

table tr td p{
  padding-left: 8px;
  color: #676767;
}

table tr{
  height: 30px;
  border-bottom: 1px solid #ececec;
}

.row-hide{
  display:none;
}

.row-show{
}

#btnShowSpecs{
  width: 100%;
  min-height: 22px;
  border-radius: 2px;
  margin-top: 10px;
  background: #fbfbfb;
  border: 1px solid #dcdcdc;
  color: #212121;
}

#btnShowSpecs:hover{
  background: #f3f3f3;
  cursor: pointer;
  color: #000000;
}


.fader{
  height: 50px;
  border-bottom: 0.5px solid #dcddda;
  margin-top: -55px;
  background-image: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 100));
}

.bubble-text,.bubble-rect{
  font-size: 14px;
  pointer-events: none;
}

.bubble-percent{
  font-size: 16px;
  font-weight: 500;
  /* stroke: white; */
  stroke-width: 0.2;
  pointer-events: none;
}

.bubble-text-hide,.bubble-rect-hide,.bubble-percent-hide{
  opacity: 0;
  pointer-events: none;
}
