body{
  font-family: 'Rubik', sans-serif;
  color: #333333;
  font-size: 16px;
  line-height: 24px;
}

.intro{
  background-color: rgb(255,255,255,0.5);
  margin-top: 300px;
  padding: 20px;
}

.title{
  font-family: 'Righteous', cursive;
  font-size: 50px;
  line-height: 62px;
  color: #000000;
}

.subtitle{
  margin-top: 15px;
}

.authors{
  margin-top: 15px;
  font-size: 14px;
}

.blue-rect{
  background-color: #157FFB;
  color: #157FFB;
  max-width: 4px;
  margin-right: 5px;
}

.gray-circle{
  display:inline-block;
  background-color: #bfbfbf;
  width: 6px;
  height: 6px;
  border-radius: 50px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 2px;
}

.note{
  background-color: rgb(255,255,255,1.0);
  border-radius: 1px;
  margin-top: 800px;
  padding: 20px;
  box-shadow: 0px 0px 2px #c7c7c7;
}

.note-others{
  background-color: #f9f9f9;
  font-size: 14px;
  color: #687288;
  border-radius: 2px;
  border: 1px solid #e2e7f1;
  padding-top: 4px;
  padding-bottom: 4px;
}

.note-others-rect{
  background-color: #c7d1e6;
  border-radius: 0px 2px 2px 0px;
  padding-right: 6px;
}

.note-others-text{
  padding-left: 14px;
}

.fixed{
  position: fixed;
  top: 10px;
  /* z-index: -999; */
}

.unfixed{
  position: absolute!important;
  bottom: 0!important;
  z-index: -999;
}

.land {
  fill: #ddd;
}

.state-borders {
  fill: none;
  stroke: #fff;
}

.hospital-arc {
  fill: none;
}

.hospital .hospital-arc {
  stroke: #f00;
  stroke-opacity: 0.1;
}

.hospital-cell {
  fill: none;
  /* stroke: #000; */
  stroke-opacity: 0.1;
  pointer-events: all;
}



/* gooey shit */
/* body { margin:0;
  position:fixed;
  top:0;right:0;bottom:0;left:0; } */
    
    .big-circle {
      fill: none;
    }
    
    text {
      fill: white;
      font-family: sans-serif;
      font-family: 'Rubik', sans-serif;
    }
    

table{
  border-collapse: collapse;
  font-size: 14px;
  border-spacing: 2px;
  width: 100%;
}

table th{
  font-weight: 900;
  background-color: #f7f7f7;
  padding-left: 8px;
}

table tr td p{
  padding-left: 8px;
  color: #676767;
}

table tr{
  height: 30px;
  border-bottom: 1px solid #ececec;
}

.row-hide{
  display:none;
}

.row-show{
}

#btnShowSpecs{
  width: 100%;
  min-height: 22px;
  border-radius: 2px;
  margin-top: 10px;
  background: #fbfbfb;
  border: 1px solid #dcdcdc;
  color: #212121;
}

#btnShowSpecs:hover{
  background: #f3f3f3;
  cursor: pointer;
  color: #000000;
}

#arrow-icon {
  position: relative;
}

#arrow-icon:before {
  content: "";
  position: absolute;
  right: 10px;
  top: 4px;
  bottom: 0;
  width: 10px;
  background: url("../svg/down.svg") center / contain no-repeat;
}


.fader{
  height: 50px;
  border-bottom: 0.5px solid #dcddda;
  margin-top: -55px;
  background-image: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 100));
}

.bubble-text,.bubble-rect{
  font-size: 12px;
  pointer-events: none;
}

.bubble-percent{
  font-size: 16px;
  font-weight: 500;
  /* stroke: white; */
  stroke-width: 0.2;
  pointer-events: none;
}

.bubble-text-hide,.bubble-rect-hide,.bubble-percent-hide{
  opacity: 0;
  pointer-events: none;
}


.legend-family{
  background-color: #C78FB3;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
  color: white;
}

.legend-internal{
  background-color: #EC5875;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
  color: white;
}

.legend-urology{
  background-color: #C0A985;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
  color: white;
}

.legend-radiology{
  background-color: #BE989A;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
  color: white;
}

.legend-others{
  background-color: #9F85C3;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
  color: white;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.intro{
  grid-column: 2/3;
}

.note{
  grid-column: 2/3;
}


@media (min-width: 300px) and (max-width: 768px) {
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
  
  .intro{
    grid-column: 1/4;
  }
  
  .note{
    grid-column: 1/4;
  }

  .title{
    font-size: 36px;
    line-height: 42px;
  }
}

.subtitle,.authors{
  margin-left: 15px;
  color: #636363;
}